body {
    font-family: Arial, sans-serif;
    background: #f6f8fa;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.inventory-container {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}

input,
button {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background: #4CAF50;
    color: white;
}

.low-stock {
    background: #ffe5e5;
    color: #b00000;
    font-weight: bold;
}

.action-btn {
    margin: 2px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.use-btn {
    background: #2196F3;
    width: 5rem;
    height: 2rem;
    font-size: 1rem;
}

.update-btn {
    background: #e4951f;
    width: 5rem;
    height: 2rem;
    font-size: 1rem;
}

.delete-btn {
    background: #f44336;
    width: 5rem;
    height: 2rem;
    font-size: 1rem;
}

.use-btn:hover {
    background: #122f4d;
}

.update-btn:hover {
    background: #684214;
}       

.delete-btn:hover {
    background: #712221;
}